@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
}

.main {
  width: 100%;
}

.usecases {
  padding: 20px;
}

.usecases p {
  color: black;
}

.usecases h1 {
  color: black;
  margin-bottom: 20px;
}
