/* @import './components/Navbar/styles.scss';
@import './components/Header/styles.scss';
@import './components/Table/styles.scss'; */

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

/* @font-face {
  font-family: Inter;
  src: url(../public/Fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: Courgette;
  src: url(../public/Fonts/Courgette-Regular.ttf);
} */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  /* @media screen and (max-width: 1023px) {
    font-size: 16px;
  } */
}

.main {
  width: 100%;
}

.usecases {
  padding: 20px;
}

.usecases p {
  color: white;
}

.usecases h1 {
  color: black;
  margin-bottom: 20px;
}
